<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<typeAlias alias="empAuth" type="com.building.dto.AuthorizedUserInfo" />
		<typeAlias alias="roleGroup" type="com.building.dto.RoleGroupDto" />
		<typeAlias alias="userRoleGroup" type="com.building.dto.UserRoleGroupDto" />
		<typeAlias alias="building" type="com.building.dto.BuildingDto"/>
		<typeAlias alias="news" type="com.building.dto.NewsDto"/>
		<typeAlias alias="news_detail" type="com.building.dto.NewsDetailDto"/>
		<typeAlias alias="m_asset" type="com.building.dto.MasterAssetDto"/>
		<typeAlias alias="t_asset" type="com.building.dto.TransferAssetDto"/>
		<typeAlias alias="user" type="com.building.dto.UserDto"/>
		<typeAlias alias="service" type="com.building.dto.MasterServicesDto"/>
		<typeAlias alias="book_service" type="com.building.dto.BookServiceDto"/>
		<typeAlias alias="complaint" type="com.building.dto.ComplaintDto"/>
		<typeAlias alias="floor" type="com.building.dto.FloorDto"/>
		<typeAlias alias="room" type="com.building.dto.RoomDto"/>
		<typeAlias alias="tComplaint" type="com.building.dto.TransferComplaintDto"/>
		<typeAlias alias="tReply" type="com.building.dto.TransferReplyDto"/>
	</typeAliases>
</configuration>