<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<typeAlias alias="empAuth" type="com.building.dto.AuthorizedUserInfo" />
		<typeAlias alias="roleGroup" type="com.building.dto.RoleGroupDto" />
		<typeAlias alias="userRoleGroup" type="com.building.dto.UserRoleGroupDto" />
		<typeAlias alias="building" type="com.building.dto.BuildingDto"/>
		<typeAlias alias="news" type="com.building.dto.NewsDto"/>
		<typeAlias alias="member" type="com.building.dto.MemberDto"/>
	</typeAliases>
</configuration>