<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 遅延読み込みの状況 -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- 列名のアンダースコア表記をキャメルケース表記に自動置き換えする -->
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
		<!-- Log4J利用 -->
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<!-- DTO Class Name Alias MyBatisで使用する結果Bean型は別名を設定してください。 (パラメータ型は@ParamアノテーションでBeanとして扱われるので必須ではありません) -->
	<typeAliases>
		<!--<typeAlias alias="sample" type="openhouse.dto.SampleDto" />-->
		<typeAlias alias="empAuth" type="openhouse.dto.AuthorizedUserInfo" />
		<typeAlias alias="division" type="openhouse.dto.DivisionDto" />
		<typeAlias alias="simpleEmp" type="openhouse.dto.SimpleEmployDto" />
		<typeAlias alias="divisionCustomer" type="openhouse.dto.DivisionIndexCustomerDto" />
		<typeAlias alias="mailSender" type="openhouse.dto.MailSenderDto" />
		<typeAlias alias="sendMailPersonal" type="openhouse.dto.SendMailPersonalDto" />
		<typeAlias alias="checkLibrary" type="openhouse.dto.CheckLibraryDto" />
		<typeAlias alias="mailLibrary" type="openhouse.dto.MailLibraryDto" />
		<typeAlias alias="mailLibraryDir" type="openhouse.dto.MailLibraryDirDto" />
		<typeAlias alias="responseImport" type="openhouse.dto.ResponseImportDto" />
		<typeAlias alias="direct" type="openhouse.dto.DirectDto" />
		<typeAlias alias="schedule" type="openhouse.dto.ScheduleDto" />
		<typeAlias alias="act" type="openhouse.dto.ActDto" />
		<typeAlias alias="employee" type="openhouse.dto.EmployeeDto" />
		<typeAlias alias="responseHousingInfo" type="openhouse.dto.ResponseHousingInfoDto" />
		<typeAlias alias="zipAddress" type="openhouse.dto.ZipAddressDto" />
		<typeAlias alias="statusCount" type="openhouse.dto.StatusCountDto" />
		<typeAlias alias="mailQueue" type="openhouse.dto.MailQueueDto" />
		<typeAlias alias="mailSequence" type="openhouse.dto.MailSequenceDto" />
		<typeAlias alias="responseType" type="openhouse.dto.ResponseTypeDto" />
		<typeAlias alias="jissekiCount" type="openhouse.dto.JissekiCountDTO" />
		<typeAlias alias="prospectReportData" type="openhouse.dto.ProspectReportDataDto" />
		<typeAlias alias="himoHistory" type="openhouse.dto.CsResLocEmpRelHistoryDto" />
		<typeAlias alias="roleGroup" type="openhouse.dto.RoleGroupDto" />
		<typeAlias alias="userRoleGroup" type="openhouse.dto.UserRoleGroupDto" />
		<typeAlias alias="hpMember" type="openhouse.dto.HpMemberDto" />
		<typeAlias alias="hpSchedule" type="openhouse.dto.HpScheduleDto" />
		<typeAlias alias="hpScheduleRef" type="openhouse.dto.HpScheduleRefDto" />
		<typeAlias alias="hpInformation" type="openhouse.dto.HpInformationDto" />
		<typeAlias alias="hpInformationRef" type="openhouse.dto.HpInformationRefDto" />
		<typeAlias alias="hpOtherForm" type="openhouse.dto.HpOtherFormDto" />
		<typeAlias alias="hpSearchContent" type="openhouse.dto.HpSearchContentDto" />
		<typeAlias alias="hpLoanSimulation" type="openhouse.dto.HpLoanSimulationDto" />
		<typeAlias alias="hpFavorite" type="openhouse.dto.HpFavoriteDto" />
		<typeAlias alias="hpFavoriteRef" type="openhouse.dto.HpFavoriteRefDto" />
		<typeAlias alias="hpWebHistory" type="openhouse.dto.HpWebHistoryDto" />
		<typeAlias alias="hpCustomer" type="openhouse.dto.HpCustomerDto" />
		<typeAlias alias="hpSummarizedHistory" type="openhouse.dto.HpSummarizedHistoryDto" />
		<typeAlias alias="hpOperationHistory" type="openhouse.dto.HpOperationHistoryDto" />
		<typeAlias alias="attendeeEvent" type="openhouse.dto.AttendeeGoogleEventDto" />
		<typeAlias alias="libraryAttachment" type="openhouse.dto.LibraryAttachmentDto" />
		<typeAlias alias="year" type="openhouse.dto.YearDto" />
		<typeAlias alias="schoolGroup" type="openhouse.dto.SchoolGroupDto" />
		<typeAlias alias="school" type="openhouse.dto.SchoolDto" />
		<typeAlias alias="entry" type="openhouse.dto.EntryDto" />
		<typeAlias alias="personal" type="openhouse.dto.PersonalDto" />
		<typeAlias alias="interview" type="openhouse.dto.InterviewDto" />
		<typeAlias alias="entryTree" type="openhouse.dto.EntryTreeDto" />
		<typeAlias alias="printQRCode" type="openhouse.dto.PrintQRCodeDto" />
		<typeAlias alias="entryEventInfo" type="openhouse.dto.EntryEventInfoDto" />
		<typeAlias alias="event" type="openhouse.dto.EventDto" />
		<typeAlias alias="fileEntry" type="openhouse.dto.FileEntryDto" />
		<typeAlias alias="file" type="openhouse.dto.FileDto" />
		<typeAlias alias="personalGrid" type="openhouse.dto.ResponsePersonalGridDto"/>
		<typeAlias alias="personalEntry" type="openhouse.dto.PersonalEntryDto"/>
		<typeAlias alias="entryResponse" type="openhouse.dto.EntryResponseDto"/>
		<typeAlias alias="hireHub" type="openhouse.dto.HireHubDto"/>
		<typeAlias alias="interviewerRemindMail" type="openhouse.dto.InterviewerRemindMailDto"/>
		<typeAlias alias="responsibleCandidateTreeDto" type="openhouse.dto.ResponsibleCandidateTreeDto" />
	</typeAliases>
</configuration>