<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.building.mapper.AssetMapper">

	<insert id="insertAsset" useGeneratedKeys="true" keyProperty="dto.assetId">
		INSERT INTO ASSET(
		assetName
		, created
		, lastUpdate
		, createId
		, updateId
		)VALUES(
		#{dto.assetName}
		,  NOW()
		,  NOW()
		, #{dto.createId}
		, #{dto.updateId}
		)
	</insert>

	<select id="findAll" resultType="asset">
		SELECT * FROM ASSET ORDER BY created
	</select>

	<select id="findById" resultType="asset">
		SELECT * FROM ASSET WHERE assetId=#{id}
	</select>

	<update id="update">
		UPDATE ASSET SET
		assetName = #{dto.assetName}
		,assetStatus = #{dto.assetStatus}
		,updateId = #{dto.updateId}
		,lastUpdate= NOW()
		WHERE assetId= #{dto.assetId}
	</update>
	<delete id="deleteById">
		DELETE FROM ASSET WHERE assetId = #{id}
	</delete>

</mapper>
