<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.building.mapper.ManagerMasterServicesMapper">

    <insert id="insertMasterServices" useGeneratedKeys="true" keyProperty="dto.serviceCode">
        INSERT FROM * M_SERVICE (
        serviceType
        , serviceName
        , servicePrice
        , serviceStart
        , serviceEnd
        , created
		, lastUpdate
		, createId
		, updateId
        ) VALUE (
        #{dto.serviceType}
        , #{dto.serviceName}
        , #{dto.servicePrice}
        , #{dto.serviceStart}
        , #{dto.serviceEnd}
        ,  NOW()
		,  NOW()
		, #{dto.createId}
		, #{dto.updateId}
        )
    </insert>

    <select id="findAll" resultType="service">
        SELECT * FROM M_SERVICE ORDER BY created DESC
    </select>

    <select id="findById" resultType="service">
        SELECT * FROM M_SERVICE WHERE serviceCode=#{id}
    </select>

    <update id="update">
        UPDATE M_SERVICE SET
        serviceType = #{dto.serviceType}
        , serviceName = #{dto.serviceName}
        , servicePrice = #{dto.servicePrice}
        , serviceStart = #{dto.serviceStart}
        , serviceEnd = #{dto.serviceEnd}
        , updateId = #{dto.updateId}
		, lastUpdate= NOW()
		WHERE serviceCode = #{dto.serviceCode}
    </update>

    <delete id="delete">
        DELETE M_SERVICE WHERE serviceCode = #{dto.serviceCode}
    </delete>
</mapper>