<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.building.mapper.ManagerMemberMapper">

	<insert id="insertMember" useGeneratedKeys="true" keyProperty="dto.memberId">
		INSERT INTO MEMBER(
		fullName
		, tel
		, address
		, sex
		, birthday
		, email
		, idCard
		, created
		, lastUpdate
		, createId
		, updateId
		)VALUES(
		#{dto.fullName}
		, #{dto.tel}
		, #{dto.address}
		, #{dto.sex}
		, #{dto.birthday}
		, #{dto.email}
		, #{dto.idCard}
		,  NOW()
		,  NOW()
		, #{dto.createId}
		, #{dto.updateId}
		)
	</insert>

	<select id="findAll" resultType="member">
		SELECT * FROM MEMBER ORDER BY created DESC
	</select>

	<select id="findById" resultType="member">
		SELECT * FROM MEMBER WHERE memberId=#{id}
	</select>

	<update id="update">
		UPDATE MEMBER SET
		fullName = #{dto.fullName}
		, tel = #{dto.tel}
		, address = #{dto.address}
		, sex = #{dto.sex}
		, birthday = #{dto.birthday}
		, email = #{dto.email}
		, idCard = #{dto.idCard}
		,updateId = #{dto.updateId}
		,lastUpdate= NOW()
		WHERE memberId= #{dto.memberId}
	</update>
	<delete id="deleteById">
		DELETE FROM MEMBER WHERE memberId = #{id}
	</delete>

</mapper>
