<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.building.mapper.ManagerUserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="dto.userId">
        INSERT INTO T_USER(
        userId
        , empCode
        , adId
        , pass
        , userStatus
        , fullName
        , mail
        , tel
        , mobilePhone
        , startDay
        , endDay
        , hideFlg
        , gender
        , birthday
        , memo
        , created
        , lastUpdate
        , createId
        , updateId
        )VALUES(
        #{dto.userId}
        , #{dto.empCode}
        , #{dto.adId}
        , #{dto.pass}
        , #{dto.userStatus}
        , #{dto.fullName}
        , #{dto.mail}
        , #{dto.mobilePhone}
        , #{dto.startDay}
        , #{dto.endDay}
        , #{dto.hideFlg}
        , #{dto.gender}
        , #{dto.birthday}
        , #{dto.memo}
        ,NOW()
        ,NOW()
        ,#{dto.createId}
        ,#{dto.updateId}
        )
    </insert>

    <select id="findAll" resultType="user">
        SELECT * FROM T_USER ORDER BY created DESC
    </select>

    <select id="findById" resultType="user">
        SELECT * FROM T_USER WHERE memberId=#{id}
    </select>

    <update id="update">
        UPDATE T_USER SET
        userId = #{dto.userId}
        , empCode = #{dto.empCode}
        , adId = #{dto.adId}
        , pass = #{dto.pass}
        , userStatu = #{dto.userStatus}
        , fullName = #{dto.fullName}
        , mail = #{dto.mail}
        , mobilePhone = #{dto.mobilePhone}
        , startDay = #{dto.startDay}
        , endDay = #{dto.endDay}
        , hideFlg = #{dto.hideFlg}
        , gender = #{dto.gender}
        , birthday = #{dto.birthday}
        , birthday = memo = #{dto.memo}
        , updateId = #{dto.updateId}
        , lastUpdate= NOW()
        WHERE memberId= #{dto.memberId}
    </update>
    <delete id="deleteById">
        DELETE FROM T_USER WHERE memberId = #{id}
    </delete>

</mapper>
