<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.building.mapper.ManagerBuildingMapper">

	<insert id="insertBuilding" useGeneratedKeys="true" keyProperty="dto.buildingCode">
		INSERT INTO M_BUILDING(
		buildingName
		, totalFloor
		, totalRoom
		, description
		, created
		, lastUpdate
		, createId
		, updateId
		)VALUES(
		#{dto.buildingName}
		, #{dto.totalFloor}
		, #{dto.totalRoom}
		, #{dto.description}
		,  NOW()
		,  NOW()
		, #{dto.createId}
		, #{dto.updateId}
		)
	</insert>

	<select id="findAll" resultType="building">
		SELECT * FROM M_BUILDING ORDER BY created DESC
	</select>

	<select id="findById" resultType="building">
		SELECT * FROM M_BUILDING WHERE buildingCode=#{id}
	</select>

	<update id="update">
		UPDATE M_BUILDING SET
		buildingName = #{dto.buildingName}
		, totalFloor = #{dto.totalFloor}
		, totalRoom = #{dto.totalRoom}
		, description = #{dto.description}
		,updateId = #{dto.updateId}
		,lastUpdate= NOW()
		WHERE buildingCode= #{dto.buildingCode}
	</update>
	<delete id="deleteById">
		DELETE FROM M_BUILDING WHERE buildingCode = #{id}
	</delete>

	<select id="findAllFloorByBuildingId" resultType="floor">
		SELECT * FROM M_FLOOR WHERE buildingCode = #{id} ORDER BY floorCode
	</select>

	<insert id="insertFloor" useGeneratedKeys="true" keyProperty="dto.floorCode">
		INSERT INTO M_FLOOR(
			floorSeq
		, floorAlias
		, floorType
		, buildingCode
		, totalRoom
		, created
		, lastUpdate
		, createId
		, updateId
		)VALUES(
		#{dto.floorSeq}
		, #{dto.floorAlias}
		, #{dto.floorType}
		, #{dto.buildingCode}
		, #{dto.totalRoom}
		,  NOW()
		,  NOW()
		, #{dto.createId}
		, #{dto.updateId}
		)
	</insert>
</mapper>





