<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.building.mapper.ManagerUserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="dto.userId">
        INSERT INTO T_USER(
        empCode
        , adId
        , password
        , userStatus
        , fullName
        , mail
        , tel
        , startDay
        , endDay
        , hideFlg
        , gender
        , birthday
        , memo
        , address
        , logo
        , idCard
        , created
        , lastUpdate
        , createId
        , updateId
        )VALUES(
        #{dto.empCode}
        , #{dto.adId}
        , #{dto.password}
        , #{dto.userStatus}
        , #{dto.fullName}
        , #{dto.mail}
        , #{dto.tel}
        , #{dto.startDay}
        , #{dto.endDay}
        , #{dto.hideFlg}
        , #{dto.gender}
        , #{dto.birthday}
        , #{dto.memo}
        , #{dto.address}
        , #{dto.logo}
        , #{dto.idCard}
        ,NOW()
        ,NOW()
        ,#{dto.createId}
        ,#{dto.updateId}
        )
    </insert>

    <select id="findAll" resultType="user">
        SELECT * FROM T_USER ORDER BY created DESC
    </select>

    <select id="findById" resultType="user">
        SELECT * FROM T_USER WHERE userId=#{id}
    </select>

    <update id="update">
        UPDATE T_USER SET
        , empCode = #{dto.empCode}
        , adId = #{dto.adId}
        , password = #{dto.password}
        , userStatus = #{dto.userStatus}
        , fullName = #{dto.fullName}
        , mail = #{dto.mail}
        , tel = #{dto.tel}
        , startDay = #{dto.startDay}
        , endDay = #{dto.endDay}
        , hideFlg = #{dto.hideFlg}
        , gender = #{dto.gender}
        , birthday = #{dto.birthday}
        , memo = #{dto.memo}
        , address = #{dto.address}
        , logo = #{dto.logo}
        , idCard = #{dto.idCard}
        , updateId = #{dto.updateId}
        , lastUpdate= NOW()
        WHERE userId= #{dto.userId}
    </update>
    <delete id="deleteById">
        DELETE FROM T_USER WHERE userId = #{id}
    </delete>

</mapper>
