<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.building.mapper.RequestBookMapper">

	<insert id="insertBook" useGeneratedKeys="true" keyProperty="dto.t_bookServiceCode">
		INSERT INTO T_BOOK_SERVICE (
    	serviceCode
    	, servicePrice
		, userId
		, assetCode
		, bookFrom
		, bookTo
		, status
		, followStatus
		, created
		, lastUpdate
		, createId
		, updateId
		)VALUES(
		#{dto.serviceCode}
		, #{dto.servicePrice}
		, #{dto.userId}
		, #{dto.assetCode}
		, #{dto.bookFrom}
		, #{dto.bookTo}
		, #{dto.status}
		, #{dto.followStatus}
		,  NOW()
		,  NOW()
		, #{dto.createId}
		, #{dto.updateId}
		)
	</insert>

	<select id="findAllBook" resultType="book_service">
		SELECT * FROM T_BOOK_SERVICE ORDER BY created
	</select>

	<select id="findById" resultType="book_service">
		SELECT * FROM T_BOOK_SERVICE WHERE t_bookServiceCode=#{id}
	</select>

	<update id="updateBook">
		UPDATE T_BOOK_SERVICE SET
		serviceCode = #{dto.serviceCode}
		,servicePrice = #{dto.servicePrice}
		,assetCode = #{dto.assetCode}
		,bookFrom = #{dto.bookFrom}
		,bookTo = #{dto.bookTo}
		,status = #{dto.status}
		,updateId = #{dto.updateId}
		,lastUpdate= NOW()
		WHERE t_bookServiceCode= #{dto.t_bookServiceCode}
	</update>
	<delete id="deleteById">
		DELETE FROM T_BOOK_SERVICE WHERE t_bookServiceCode = #{id}
	</delete>


</mapper>
